html
  head
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
   title Home
   meta(name='description', content='Home page')
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   link(rel='stylesheet', href='/public/css/profileStyle.css')
   link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
   div(class="topnav")
    a(href="#profile-link") #{user.username}
    a(href="/chat") Messenger
    a(href="/logout") Logout
    input(type="text" placeholder="Search")
  div(class="container")
   - var url = user.picture
   img(src=url alt="Profile picture" id="profile-pic")
   form(action="/upload" method="post" enctype="multipart/form-data" id="upload-form")
    div(class="custom-file mb-3")
     input(type="file" name="file" id="file" class="custom-file-input")
     label(for="file" class="custom-file-label") Choose Photo
    input(type="submit" value="Submit" class="btn btn-primary btn-block" id="pic-submit" disabled)
   h1(id="username") #{user.fullname}
   if user.bio != ''
    p #{user.bio}
   a(id="add-bio" href="#") Add Biography
   form(method="post" id="bio-form")
    textarea(type="text" name="bio" cols="30" rows="10" id="bio-input")
    input(type="submit" value="Save" class="btn btn-primary" id="bio-submit" disabled)
    button(type="button" id="cancel" class="btn" disabled) Cancel
   <script src="/socket.io/socket.io.js"></script>
   script(src='/public/client.js')

